/* I always reset all the html elements */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
	background-color: #f4f4f4;
}

h2{
	text-align: center;
	padding: 30px 0;
	font-size: 32px;
	line-height: 52px;
	color: #999;
	padding: 20px;
	margin-top: 30px;
}

table{
	width:  1000px;
	margin: 30px auto;
}

table th{
	padding: 10px 0;
	background-color: #e4e4e4;
	/* background-color: #fff; */
	border:  thin solid #d4d4d4;
}

table td{
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 18%;
	text-align: center;
	background-color: #fff;
}

table img{
	width:  70%;
}

table td.total-price{
	font-weight: bold;
	font-size: 22px;
}
table a{
	text-decoration: none;
	color: darkred;
	background-color: #ffecef;
	padding: 10px 15px;
}
table a:active{
	background-color: #ccf4d6;
	color:  green;
}

table select{
	padding: 10px;
	width:  200px;
	font-size: 16px;
	border: thin solid #d4d4d4;
	background-color: transparent;
}
table select:focus{
	outline: none;
}
